@import '@/assets/styles/variables';

.search_air_tickets {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;

	> div:first-child {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		max-width: 300px;
	}

	> div:last-child {
		> div:first-child {
			display: flex;
			justify-content: space-between;
			margin-bottom: 30px;
		}
	}
}
