@import '@/assets/styles/variables';

.search_air_tickets {
	> div:first-child {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;

		> button {
			flex-grow: 1;
			padding: 18px 50px;
			background-color: $light-lavender;
			border: 1px solid $purply;
			color: $purply;
			transition: all 0.4s ease-in-out;

			&:first-child {
				border-radius: 10px 0 0 10px;
			}

			&:last-child {
				border-radius: 0 10px 10px 0;
			}

			&:hover {
				background-color: $purply;
				color: #fff;
			}

			&:disabled {
				cursor: none;
			}
		}
	}

	> div:last-child {
		display: flex;
		flex-direction: column;
		gap: 47px;

		> div {
			display: flex;
			flex-direction: column;
			gap: 25px;
			padding: 40px 40px 25px;
			background-color: $light-lavender;
			border-radius: 10px;

			> div:first-child {
				display: flex;
				justify-content: space-between;

				> h2 {
					font-size: 2rem;
					font-weight: 700;
				}

				> img {
					max-width: 160px;
				}
			}

			> div:last-child {
				display: flex;
				justify-content: space-between;

				> div {
					display: flex;
					flex-direction: column;
					gap: 10px;

					> div:first-child {
						color: $lavender;
					}
				}

				> div:last-child {
					width: 100%;
					max-width: 160px;
				}
			}
		}
	}
}
